<p id="notice"><%= notice %></p>

<h1>Posts</h1>

<h5>Buscador</h5>
<form action="posts">
<input name="q">
</form>

<div id="contenido">
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Photo</th>
        <th colspan="3"></th>
      </tr>
    </thead>
        <%= render @posts %>
  </table>
</div>



<br>

<%= form_with model:Post.new do |form| %>
  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :photo %>
    <%= form.file_field :photo %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<script>
  $("[name=q]").keyup(function(event){
    if($(this).val().length > 2 || $(this).val().length == 0){
      $.ajax({
        url: '<%= posts_path %>',
        type: 'GET',
        dataType: 'script',
        data: {q: $(this).val()
      }

    })}
  })
</script>
